/**WIDTHS**/

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #5a5a5a;
	font-family: "Droid Serif", serif;
	font-size: 15px;
	background: url(../images/background.jpg) repeat;
	background-color: #f7efe0;
}

/**HEADERS & CONTENT**/
h1 {
	font-size: 23px;
	color: #83b449;
	font-weight: normal;
	margin: .5em 1em .5em 1em;
	border-bottom: 1px dashed #5a5a5a;
}

h2 {
	font-family: "Montserrat", sans-serif;
	padding: 1.5em 0 0 2em;
	position: relative;
	left: -55px;
	font-size: 35px;
	color: #d0b75a;
	text-transform: uppercase;
}

/**SECTIONS**/

header {
	background: url(../images/header.jpg) repeat; 
	margin: 0;
	padding: 0;
	height: 200px;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}



.top {
	margin: auto;
	text-align: left;
}

#logo {
	margin-left: .5em;
	margin-right: 2.5em;
}

nav {
	vertical-align: bottom;
	display: inline-block;
}

#myslides
{
	height:300px;
	width: 800px;
	overflow: hidden;
	margin: 1em auto 1em auto;
}

#myslides img {
	display: block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

section {
	margin: 0 auto 0 auto;
	padding: .5em 1em;
	background: url(../images/content.png) repeat;
	background-color: #f7efe0;
 	width: 850px;
}

footer {
	text-align: left;
	margin: 9em auto .2em auto;
	color: #d0b75a;
	overflow: hidden;
}

#quoteH {
	text-align: left;
	font-style: italic;
	height: 20px;
	margin: auto;
	vertical-align: middle;
}

#quotes {
	width: 750px;
	padding: .5em 0 .5em 1em;
	height: 20px;
	margin: auto;
	overflow: hidden;
}

article {
	margin: auto;
}

p {
	text-align: justify;
	text-indent: 3em;
	padding-right: .5em;
	padding-left: .5em;
	margin: .5em;
}

.author {
	text-align: right;
	vertical-align: top;
	font-weight: bold;
	font-style: italic;
}

#callout {
	position: fixed;
	right: 2.5em;
	top: 10em;
	border-color : #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

#callout img {
	width: 25px;
	height: 25px;
}

#info {
	text-align: left;
	display: inline-block;
	vertical-align: bottom;
}

#title {
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
}

#social {
	width: 160px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

#social img {
	width: 36px;
	height: 36px;
}

/**NAVIGATION**/
nav {
	vertical-align: middle;
	text-align: center;
	z-index: 2;
}

nav ul {
	padding: 0 2em;
	list-style: none;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 2;
}

nav ul ul{
	display: none;
	z-index: 2;
}

nav ul li{
	margin-left: .2em;
	margin-right: .2em;
	float: left;
	display: inline-block;
	z-index: 2;
}

nav ul li a {
	display: block;
	padding: .1em .5em .1em .5em;
	z-index: 2;
}

nav ul li:hover > ul {
	text-align: left;
	width: 225px;
	left: -10px;
	display: block;
	z-index: 2;
}

	
nav ul li:hover {
	z-index: 2;
}

nav ul li:hover a {
	z-index: 2;
}

nav ul li:hover > ul {
	margin: 0;
	padding: 0;
	z-index: 2;
}

nav ul li:hover > ul li {
	float: none;
	display: block;
	margin: .1em;
	z-index: 2;
}

nav ul li:hover > ul li a {
	background-color: #f0ead5;
	z-index: 2;
}

nav ul li:hover > ul li a:hover {
	background-color: #f0ead5;
	z-index: 2;
}

nav ul li {
	position: relative;
	z-index: 2;
}

nav ul li ul {
	position: absolute;
	z-index: 2;
	
}

/**TABLE STUFF**/

table {
	border-collapse: collapse;
	width: 100%;
}

#colored {
	font-size: 15px;
	font-weight: bold;
	background-color: #9685BA;
}

thead {
	font-weight: bold;
	margin: .5em 1em .5em 1em;
	border-bottom: 1px dashed #5a5a5a;
	color: #83b449;
}

tbody {
	vertical-align: top;
	font-size: 12px;
}

#date {
	font-style: italic;
	text-align: right;
	width: 200px;
}

#titleC {
	text-align: center;
	text-transform: uppercase;
}


#titleL {
	text-align: left;
}

#right {
	text-align: right;
	vertical-align: middle;
}

/**LINKS**/
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #d0b75a;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none;
	color: #d0b75a; 
}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #83b449;
}

/**elia image**/
#eliaImage img{
	margin: .2em;
	float: left;
	border-radius: .1em;
	vertical-align: middle;
}