/**WIDTHS**/

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #5a5a5a;
	font-family: "Droid Serif", serif;
	font-size: 15px;
	background: url(../images/background.jpg) repeat;
	background-color: #f7efe0;
}

/**HEADERS & CONTENT**/
h1 {
	font-size: 23px;
	font-weight: normal;
	margin: .5em 1em .5em 1em;
	border-bottom: 1px dashed #5a5a5a;
}

h2 {
	font-family: "Montserrat", sans-serif;
	padding: 1.5em 0 0 2em;
	position: relative;
	left: -55px;
	font-size: 35px;
	color: #83b449;
	text-transform: uppercase;
}

/**SECTIONS**/

header {
	background: url(../images/header.jpg) repeat; 
	margin: 0;
	height: 150px;
	padding: 1em 0 0 0;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	color: #d0b75a;
	text-align: right;
	vertical-align: middle;
}

.top {
	margin: auto;
	text-align: left;
}

#logo {
	margin-left: .5em;
	margin-right: 2.5em;
}

nav {
	vertical-align: bottom;
	display: inline-block;
}

section {
	margin:auto;
	margin-top: 1em;
	padding: .5em 1em;
	background: url(../images/content.png) repeat;
	background-color: #f7efe0;
 	width: 800px;
	box-shadow: 5px 5px 10px #5a5a5a;
	border-top-left-radius: 7em;
	border-bottom-right-radius: 7em;
}

article {
	margin: auto;
}

p {
	text-align: justify;
	text-indent: 3em;
	padding-right: .5em;
	padding-left: .5em;
}

#social {
	margin-right: 3em;
}

#social img {
	width: 36px;
	height: 36px;
	margin: .2em;
}

/**NAV UL**/
nav ul{
	height: auto;
	padding: .5em 0em;
	margin: .5em;
	list-style-type: none;
	text-align: left;
}

nav li{
	padding: .2em;
}

/**TABLE STUFF**/

table {
	border-collapse: collapse;
	width: 100%;
}

#colored {
	font-size: 15px;
	font-weight: bold;
	background-color: #9685BA;
}

tbody {
	vertical-align: top;
	font-size: 12px;
}

#date {
	font-style: italic;
	text-align: right;
	width: 200px;
}

#titleC {
	text-align: center;
	text-transform: uppercase;
}


#titleL {
	text-align: left;
}

#right {
	text-align: right;
	vertical-align: middle;
}

/**LINKS**/
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #d0b75a;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none;
	color: #d0b75a; 
}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #83b449;
}
